<%- include("header") -%>
<!-- section starts -->
<section class="arrival" id="arrival">
<h1 class="heading"> <span>Search Results</span> </h1>
<div class="box-container">
  <%if(posts.length==0){%>
    <h3>No Record Found</h3>
  <%}%>
  <%posts.forEach(function(post){ %>
    <div class="box">
      <div class="image">
          <img src="images/<%=post.itemName%>.jpg" alt="">
      </div>
      <div class="info">
          <h3><%=post.itemName%></h3>
          <div class="subInfo">
                <strong class="price"> ₹<%=post.itemPrice%>/<%=post.priceUnit%></strong>
            </div>
            <div class="subInfo">
                  <form class="" action="/searchwish" method="post">
              <button type="submit" onclick="wish()" name="wishlist" value="<%=post.key%>" style="height:30px; width:60px;">Wishlist</button></form>
              <%  if(!post.latitude){%>
                  <button type="submit" onclick="notsave()" style="height:30px; width:60px;">Location</button>
                <%}else{%>
                      <button type="submit" onclick="window.open('https://www.google.com/maps/search/?api=1&query=<%=post.latitude%>%2C<%=post.longitude%>')" style="height:30px; width:60px;">Location</button>
                <%}%>
              <form class="" action="/details" method="post">
            <button type="submit" name="details" value="<%=post.key%>" style="width:60px; height:30px;">Details</button></form>
          </div>
        </div>
    </div>
   <% });%>
</div>
</section>

<!-- jquery cdn link  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- owl carousel js file cdn link  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script type="text/javascript">
  function notsave() {
  alert("Seller haven't yet mentioned his store location");
}
function wish() {
alert("Added to Wishlist");
}
</script>

<!-- custom js file link  -->
<%- include("footer") -%>
